<%- include('partials/header') %>
<%- include('partials/sidebar') %>

<main class="main-content">
  <h1>Comparison</h1>
  <p>This page will be used for comparing different metrics.</p>
</main>

<%- include('partials/footer') %>