</div> <script src="/js/main.js"></script>
  
  <% if (currentPage === 'overview') { %><script src="/js/overview.js"></script><% } %>
  <% if (currentPage === 'forecasting') { %><script src="/js/forecasting.js"></script><% } %>
  <% if (currentPage === 'comparison') { %><script src="/js/comparison.js"></script><% } %>
  <% if (currentPage === 'report') { %><script src="/js/report.js"></script><% } %>
</body>
</html>